$blue: #0084bf;
$light-blue: #73d0ff;
$green: rgb(230, 255, 63);
$black: #000;
$bg-grey: ghostwhite;
$grey: #f9f9f9;
$light-grey: rgb(252, 252, 252);
$dark-grey: #f3f3f3;
$white: white;
$darkwhite: rgba(255,255,255,0.85)